// Widths
$WidthMobile: 375px;
$WidthDesktop: 1440px;

// Colors
$PrimaryDarkMagneta: hsl(300, 43%, 22%);
$PrimarySoftPink: hsl(333, 80%, 67%);

$NeutralDarkGrayMagneta: hsl(303, 10%, 53%);
$NeutralLightGrayMagneta: hsl(300, 24%, 96%);
$NeutralWhite: hsl(0, 0%, 100%);

// Typography
$FontFamily: "Spartan";
$FontSizeS: 12px;
$FontSizeM: 15px;
$FontSizeL: 24px;
$FontWeightLight: 400;
$FontWeightNormal: 500;
$FontWeightBold: 700;